body {
    font-family: 'Playfair Display', serif;
}

.popupContainer {
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
    position: absolute;
    background: rgb(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    overflow-x: scroll;
}

.popup {
    background: #FFFFFF;
    border-radius: 12px;
    width: 446px !important;
    margin-top: 130px;
    padding: 25px;
}

.popclose {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 20px;
}

.popup .upload-area {
    padding: 40px;
    position: relative;
    cursor: pointer;
}

.popup .upload-area::before {
    content: url(./Container.svg);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.upload-text {
    color: #BBBBBB;
}

.file-input {
    display: none;
}

.poptitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.title-area {
    margin-bottom: 40px !important;
}

.pop-button {
    width: 296px;
    height: 45px;
    background: #66C68F;
    border: 1px solid #66C68F;
    border-radius: 8px;
    color: white;
    margin-top: 40px;
}

.imgPopUp .popup {
    height: 400px;
}

.locationPopUp .popup {
    height: 500px;
}


.popupContainer input,
.popupContainer select {
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    background: #FFFFFF;
    border: 1px solid #E4E4E4 !important;
    border-radius: 8px !important;
    min-width: 90% !important;
    color: #000000 !important;
    padding: 10px 14px 15px 10px !important;
}

.popupContainer input:focus {
    outline: none !important;
    border: 1px solid #66C68F !important;
}

.popupContainer .mollure-select-address {
    box-sizing: border-box;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    min-width: 90% !important;
    height: 50px;
    text-transform: capitalize;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('./select-down-arrow.svg');
    background-repeat: no-repeat;
    background-position-x: 160px;
    background-position-y: center;
    padding-right: 20px !important;
    color: #5A5A5A !important;
}


.popupContainer .custom-select {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #888;

}

.popupContainer .custom-select .selector-options {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    background: #ffffff;
    color: #000000;
    border-radius: 4px;
    z-index: 1;
    width: 223px;
    position: absolute;
    right: 2%;
    top: 100%;
    padding: 0 20px;
    box-shadow: 0px 0px 20px rgba(16, 8, 63, 0.09);
    border-radius: 8px;
}

.popupContainer .custom-select.custom-select-address {
    min-width: 100% !important;
}

.popupContainer .custom-select .selector-options li {
    height: 44px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.popupContainer .custom-select .selector-options li:first-child {
    border-width: 95%;
}

.popupContainer .custom-select .selector-options li:last-child {
    border-bottom: none;
}

.popupContainer .custom-select .selector-options li:hover {
    background: #f5f5f59a;
}

.popupContainer .custom-select-address .selector-options {
    width: 100% !important;
}

.popupContainer .mollure-select-address {
    min-width: 98% !important;
    /* margin-left: -8px; */
}

/* tmprofile */
.tmprofile {
    width: 100px;
    height: 100px;
    background: rgba(228, 228, 228, .2);
    border-radius: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.tmprofile img {
    cursor: pointer;

}

/* target checkbox */
.teammemberPopUp .popup {
    min-height: 520px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.service-selector p {
    font-weight: 400;
    color: #5A5A5A;
    font-size: 14px;
    margin-top: -3px;
}

.service-selector {
    width: 180px;
    height: 50px;
    cursor: auto;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

.sv-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 2px;
}

.service-items {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(16, 8, 63, 0.09);
    border-radius: 8px;
    width: 223px;
    overflow-y: scroll;
    padding: 5px 15px 0px 10px;
    display: none;
    z-index: 999;
    right: 20px;
}

.service-items li {
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.service-items li:hover {
    background: #f5f5f59a;
}

.service-items ::last-child {
    border-bottom: 0px solid rgb(0, 0, 0, 0.0);
}

.fa-check {
    color: rgba(102, 198, 143, 1);
    font-size: 8px !important;
}


.sv-checkbox .check-icon {
    transform: scale(0) !important;
}

.item.checked .sv-checkbox {
    border: 1px solid #66C68F;
    transform: scale(1) !important;
}

.item.checked .check-icon {
    transform: scale(1) !important;
}

.service-selector.open~.service-items {
    display: block;
}

.dlt_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    left: 5px;
}

.popupContainer .tmct {
    margin-left: 2px;
    width: 170px;
    background-position-x: 130px;
}

#addcatsurvice,
#addprovince {
    border: none;
    cursor: pointer;
    background: linear-gradient(90.14deg, rgba(102, 198, 143, 0.1) 1.34%, rgba(33, 184, 191, 0.1) 99.89%);
    border-radius: 55px;
    color: #21B8BF;
    padding: 5px 13px;
    font-weight: 600;
    font-size: 14px;
}

/* sub service */
.subsurvicePopUp .popup {
    min-height: auto;
    margin-top: 130px;
    margin-bottom: 100px;
}

.survicePopUp .popup {
    margin-bottom: 100px;
}

.subsurvicePopUp .popup textarea {
    height: 100px;
    resize: none;
}

.txarea img {
    position: absolute;
    width: 20px;
    right: 5px;
    top: 7px;
}

.txarea textarea {
    border: 1px solid #E4E4E4 !important;
    border-radius: 8px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.sp {
    color: #000000;
    opacity: 0.6;
    margin: 0 5px;
}

.popupContainer label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: #5A5A5A;
    text-align: start;
}

.frm {
    width: 185px;
    margin-left: 1px;
    background-position-x: 150px;
}

.frmto {
    margin-left: 2px;
    width: 185px;
    background-position-x: 150px;
}

.stprice {
    width: 100%;
    background-position-x: 354px;
    margin-left: 0px;
}

.inf {
    position: absolute;
    top: 30%;
    width: 20px;
    right: 10px;
    cursor: pointer;
}

#ttip {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 6px;
    color: #66C68F;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 8px;
    position: absolute;
    right: 10px;
    top: 35px;
    filter: drop-shadow(0px 4px 20px rgba(5, 8, 63, 0.11));
    display: none;
}

.inf:hover+#ttip {
    display: block;
}

.popupContainer .tshow:hover+#ttip {
    display: block;
}

.resizes {
    resize: none !important;
}

.popupContainer .custom-select .selector-options {
    width: 230px !important;
}

.dslocationPopUp .popups {
    min-height: 300px !important;
    background: #FFFFFF;
    border-radius: 12px;
    width: 446px !important;
    margin-top: 130px;
    padding: 25px;
}

.popupContainer .mollure-select-address.stprice {
    background-position-x: 362px;
}

.popupContainer .frm,
.popupContainer .frmto {
    background-position-x: 150px;
}